@media (max-width: 850px) {
	.game {
		flex-direction: column;
		gap: 0;
	}
	.header {
		font-size: 10px;
	}
	.item {
		width: 75px;
		height: 75px;
		font-size: 2em;
	}
	.container {
		gap: 20px;
	}
	
	
	.btn {
		font-size: 15px;
		width: auto;
		height: 30px;
	}
	.h {
		font-size: 10px;
	}

	.h-text {
		font-size: 7em;
	}

	.btn__modal {
		font-weight: 700;
		font-size: 1em;
		padding: 20px;
	}
	.text_isNext {
		font-size: 2em;
	}

}
@media (min-width: 850px) {
	.game {
		gap: 0;
	}
	.header {
		font-size: 40px;
	}
	.container {
		gap: 50px;
	}
	.item {
		width: 150px;
		height: 150px;
		font-size: 5em;
	}
	.btn {
		font-size: 0.5em;
		width: 160px;
		height: 60px;
	}
	.btn__modal {
		font-weight: 700;
		font-size: 2em;
		padding: 20px;
	}
	.text_isNext {
		font-size: 0.7em;
	}
	.h-text {
		font-size: 10em;
	}
}

.all_container {
	display: grid;
	height: 100vh;
}

:root {
	--index: 1vh + 1vw;
}

.html, body {
	height: 100vh;
}

.game {
	width: 100%;
	display: flex;
	justify-items: center;
	align-items: center;
	/* border: 1px solid blue; */
}